<form action="/login" method="post">
{{#if loginErr}}
<div class="alert alert-danger" role="alert">
 username/password is incorrect
</div>
{{/if}}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <div class="mb-3 form-check">
         <label for="crt" class="form-label">Dont have one?</label>
         <a id="crt" href="/singup">creat account</a>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>